{% extends "base.html" %}
{% block content %}
    <h1>Список договоров</h1>
    <div class="button-container">
        <a href="{{ url_for('contracts.create_contract') }}" class="create-btn">Создать договор</a>
        <a href="{{ url_for('contracts.download_excel') }}" class="create-btn">Скачать</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Субъект</th>
                <th>Цена</th>
                <th>Адрес</th>
                <th>Наименование работ</th>
            </tr>
        </thead>
        <tbody>
            {% for contract in contracts %}
                <tr onclick="window.location='{{ url_for('contracts.contract_detail', id=contract.id) }}';">
                    <td>{{ contract.number }}</td>
                    <td>{{ contract.contract_date }}</td>
                    <td>{{ contract.get_subject() }}</td>
                    <td>{{ contract.price }}</td>
                    <td>{{ contract.address }}</td>
                    <td>
                        <ul>
                            {% for work_type in contract.work_types %}
                                <li>{{ work_type.name }} ({{ work_type.price }} руб.)</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}